.search__form {
  display: flex;
}

.search__form-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 15px;
  margin-bottom: 10px;
}

.search__form-input {
  width: 374px;
  padding: 15px;
  font-size: 24px;
  border: 1px solid #000000;
  margin-right: 30px;
  box-sizing: border-box;
}

.search__form-link {
  text-decoration: none;
}

.search__form-button {
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: #833ae0;
  padding: 20px 40px;
  border: none;
}

.search__form-button:hover {
  background: #9255e2;
  cursor: pointer;
}

@media screen and (max-width: 819px) {
  .search__form-title {
    font-size: 12px;
    margin-top: 0px;
  }
  .search__form-input {
    width: 239px;
    margin-right: 10px;
    padding: 8px;
    margin-top: 0px;
  }

  .search__form-button {
    padding: 15px 30px;
}
}
